# Clean the tennis data from the first site!

I am going to have a little play

1) Download a tennis results csv from the web
2) Play with the data
3) See if there are any nailed on conclusions or suggested patterns

In [1]:
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

In [8]:
# Set the current directory

cd C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\

SyntaxError: invalid syntax (<ipython-input-8-4003628ff064>, line 3)

In [5]:
# Find the data!

ls

NameError: name 'ls' is not defined

In [9]:
# Import all of the excel sheets from [http://www.tennis-data.co.uk/] 

# Note the change in file format...?

Y2000_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2000.xls")
Y2001_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2001.xls")
Y2002_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2002.xls")
Y2003_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2003.xls")
Y2004_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2004.xls")
Y2005_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2005.xls")
Y2006_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2006.xls")
Y2007_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2007.xls")
Y2008_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2008.xls")
Y2009_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2009.xls")
Y2010_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2010.xls",
                          sheetname='2010')
Y2011_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2011.xls",
                          sheetname='2011')
Y2012_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2012.xls",
                          sheetname='2012')
Y2013_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2013.xlsx")
Y2014_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2014.xlsx")
Y2015_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2015.xlsx")
Y2016_data = pd.read_excel("C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\2016.xlsx")

In [10]:
# Check the column names are the same for 2000, 2012 and 2016

#list(Y2000_data)

#list(Y2012_data)

#list(Y2016_data)

### Solution was to set the corect sheet of the file to read for years 2010,11 & 12.

In [11]:
# I have (hopefully!) stacked all the sheets on top of one another.

# Not sure what has happened where new variables are introduced on a year by year basis...?

df_to_concat = [Y2000_data,
               Y2001_data,
               Y2002_data,
               Y2003_data,
               Y2004_data,
               Y2005_data,
               Y2006_data,
               Y2007_data,
               Y2008_data,
               Y2009_data,
               Y2010_data,
               Y2011_data,
               Y2012_data,
               Y2013_data,
               Y2014_data,
               Y2015_data,
               Y2016_data,]

data2000_to_2016 = pd.concat(df_to_concat)
data2000_to_2016[:3]

,ATP,AvgL,AvgW,B&WL,B&WW,B365L,B365W,Best of,CBL,CBW,...,UBW,W1,W2,W3,W4,W5,WPts,WRank,Winner,Wsets
0,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,6.0,6,NaN,NaN,NaN,NaN,63,Dosedel S.,2.0
1,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,6.0,6,NaN,NaN,NaN,NaN,5,Enqvist T.,2.0
2,1,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,6.0,7,6,NaN,NaN,NaN,40,Escude N.,2.0

In [12]:
data2000_to_2016[:2].T

,0,1
ATP,1,1
AvgL,NaN,NaN
AvgW,NaN,NaN
B&WL,NaN,NaN
B&WW,NaN,NaN
B365L,NaN,NaN
B365W,NaN,NaN
Best of,3,3
CBL,NaN,NaN
CBW,NaN,NaN
Comment,Completed,Completed
Court,Outdoor,Outdoor
Date,2000-01-03 00:00:00,2000-01-03 00:00:00
EXL,NaN,NaN
EXW,NaN,NaN
GBL,NaN,NaN
GBW,NaN,NaN
IWL,NaN,NaN
IWW,NaN,NaN
L1,4,3
L2,2,3
L3,NaN,NaN
L4,NaN,NaN
L5,NaN,NaN
LBL,NaN,NaN
LBW,NaN,NaN
LPts,NaN,NaN
LRank,77,56
Location,Adelaide,Adelaide
Loser,Ljubicic I.,Clement A.
Lsets,0,0
MaxL,NaN,NaN
MaxW,NaN,NaN
PSL,NaN,NaN
PSW,NaN,NaN
Round,1st Round,1st Round
SBL,NaN,NaN
SBW,NaN,NaN
SJL,NaN,NaN
SJW,NaN,NaN
Series,International,International
Surface,Hard,Hard
Tournament,Australian Hardcourt Championships,Australian Hardcourt Championships
UBL,NaN,NaN
UBW,NaN,NaN
W1,6,6
W2,6,6
W3,NaN,NaN
W4,NaN,NaN
W5,NaN,NaN
WPts,NaN,NaN
WRank,63,5
Winner,Dosedel S.,Enqvist T.
Wsets,2,2

In [13]:
# I have exported this to the path:
# C:\\Users\\timothy\\Documents\\notebooks\\tennisBetting\\tennis_data_first_site\\combined_years_00_to16.csv


data2000_to_2016.to_csv('combined_years_00_to16.csv')

In [10]:
subset = cincinnati_df[['Winner','WRank', 'Loser', 'LRank']]
subset[:3]

#groupby Round

     Winner  WRank       Loser  LRank
0  Arazi H.     30    Coria G.     28
1  Blake J.    120  Boutter J.     57
2  Canas G.     33    Safin M.      3

In [20]:

rankng_difference_S = pd.Series(cincinnati_df['LRank'] - cincinnati_df['WRank'])
rankng_difference_S.mean()

16.920634920634921

In [22]:
cincinnati_df['Round'].unique()

array(['1st Round', '2nd Round', '3rd Round', 'Quarterfinals',
       'Semifinals', 'The Final'], dtype=object)

In [29]:
subset_group = cincinnati_df.groupby(['Round'])
subset_group.describe()

                     ATP  Best of        CBL        CBW        GBL        GBW  \
Round
1st Round     count   32       32  28.000000  28.000000  28.000000  28.000000
              mean    49        3   2.393214   1.795357   2.318929   1.709643
              std      0        0   0.781381   0.843039   0.751440   0.683778
              min     49        3   1.100000   1.180000   1.100000   1.150000
              25%     49        3   1.850000   1.330000   1.800000   1.300000
              50%     49        3   2.350000   1.525000   2.175000   1.550000
              75%     49        3   3.000000   1.850000   2.825000   1.800000
              max     49        3   4.250000   5.500000   4.100000   4.600000
2nd Round     count   16       16  16.000000  16.000000  16.000000  16.000000
              mean    49        3   2.122500   2.045000   2.078125   2.035000
              std      0        0   0.761030   0.819252   0.754941   0.920130
              min     49        3   1.220000   1.220000   1.110000   1.200000
              25%     49        3   1.472500   1.420000   1.422500   1.392500
              50%     49        3   2.025000   1.700000   1.960000   1.650000
              75%     49        3   2.612500   2.475000   2.587500   2.450000
              max     49        3   3.750000   3.750000   3.550000   4.500000
3rd Round     count    8        8   7.000000   7.000000   8.000000   8.000000
              mean    49        3   2.835714   1.450000   2.615000   1.433750
              std      0        0   0.936178   0.217332   0.711397   0.218954
              min     49        3   1.900000   1.140000   1.750000   1.150000
              25%     49        3   2.325000   1.340000   2.255000   1.340000
              50%     49        3   2.600000   1.430000   2.575000   1.355000
              75%     49        3   2.975000   1.550000   2.750000   1.500000
              max     49        3   4.750000   1.800000   4.100000   1.850000
Quarterfinals count    4        4   4.000000   4.000000   4.000000   4.000000
              mean    49        3   2.500000   1.497500   2.312500   1.500000
              std      0        0   0.402078   0.175381   0.409013   0.234521
              min     49        3   1.950000   1.350000   1.750000   1.350000
              25%     49        3   2.362500   1.402500   2.162500   1.387500
              50%     49        3   2.575000   1.445000   2.400000   1.400000
              75%     49        3   2.712500   1.540000   2.550000   1.512500
              max     49        3   2.900000   1.750000   2.700000   1.850000
Semifinals    count    2        2   2.000000   2.000000   2.000000   2.000000
              mean    49        3   2.100000   1.650000   2.025000   1.625000
              std      0        0   0.141421   0.070711   0.176777   0.106066
              min     49        3   2.000000   1.600000   1.900000   1.550000
              25%     49        3   2.050000   1.625000   1.962500   1.587500
              50%     49        3   2.100000   1.650000   2.025000   1.625000
              75%     49        3   2.150000   1.675000   2.087500   1.662500
              max     49        3   2.200000   1.700000   2.150000   1.700000
The Final     count    1        1   0.000000   0.000000   0.000000   0.000000
              mean    49        3        NaN        NaN        NaN        NaN
              std    NaN      NaN        NaN        NaN        NaN        NaN
              min     49        3        NaN        NaN        NaN        NaN
              25%     49        3        NaN        NaN        NaN        NaN
              50%     49        3        NaN        NaN        NaN        NaN
              75%     49        3        NaN        NaN        NaN        NaN
              max     49        3        NaN        NaN        NaN        NaN

                           IWL        IWW         L1         L2  ...    \
Round                                                            ...
1st Round     count  28.000000  28.000000  32.000000  32.000000  ...
              mean    2.160714   1.655357   4.031250   2.812500  ...
              std     0.601442   0.538747   1.307161   1.821688  ...
              min     1.150000   1.150000   1.000000   0.000000  ...
              25%     1.737500   1.350000   3.000000   1.750000  ...
              50%     2.100000   1.500000   4.000000   3.000000  ...
              75%     2.500000   1.762500   5.000000   4.000000  ...
              max     3.800000   3.800000   6.000000   6.000000  ...
2nd Round     count  16.000000  16.000000  16.000000  16.000000  ...
              mean    1.975000   1.937500   3.687500   4.375000  ...
              std     0.630608   0.863809   2.468974   1.627882  ...
              min     1.100000   1.200000   0.000000   1.000000  ...
              25%     1.475000   1.387500   1.000000   3.750000  ...
              50%     1.925000   1.600000   3.500000   4.000000  ...
              75%     2.350000   2.150000   6.000000   6.000000  ...
              max     3.200000   4.500000   7.000000   7.000000  ...
3rd Round     count   8.000000   8.000000   8.000000   8.000000  ...
              mean    2.500000   1.412500   3.625000   3.250000  ...
              std     0.656832   0.203101   1.767767   1.488048  ...
              min     1.700000   1.150000   2.000000   1.000000  ...
              25%     2.200000   1.325000   2.000000   2.750000  ...
              50%     2.400000   1.375000   3.000000   3.000000  ...
              75%     2.625000   1.450000   5.250000   4.000000  ...
              max     3.800000   1.800000   6.000000   6.000000  ...
Quarterfinals count   4.000000   4.000000   4.000000   4.000000  ...
              mean    2.125000   1.525000   5.750000   5.250000  ...
              std     0.330404   0.193649   1.258306   2.217356  ...
              min     1.700000   1.350000   4.000000   2.000000  ...
              25%     2.000000   1.425000   5.500000   5.000000  ...
              50%     2.150000   1.475000   6.000000   6.000000  ...
              75%     2.275000   1.575000   6.250000   6.250000  ...
              max     2.500000   1.800000   7.000000   7.000000  ...
Semifinals    count   2.000000   2.000000   2.000000   2.000000  ...
              mean    1.850000   1.650000   3.000000   4.500000  ...
              std     0.070711   0.070711   1.414214   2.121320  ...
              min     1.800000   1.600000   2.000000   3.000000  ...
              25%     1.825000   1.625000   2.500000   3.750000  ...
              50%     1.850000   1.650000   3.000000   4.500000  ...
              75%     1.875000   1.675000   3.500000   5.250000  ...
              max     1.900000   1.700000   4.000000   6.000000  ...
The Final     count   0.000000   0.000000   1.000000   1.000000  ...
              mean         NaN        NaN   1.000000   3.000000  ...
              std          NaN        NaN        NaN        NaN  ...
              min          NaN        NaN   1.000000   3.000000  ...
              25%          NaN        NaN   1.000000   3.000000  ...
              50%          NaN        NaN   1.000000   3.000000  ...
              75%          NaN        NaN   1.000000   3.000000  ...
              max          NaN        NaN   1.000000   3.000000  ...

                         Lsets        SBL        SBW         W1         W2  \
Round
1st Round     count  32.000000  13.000000  13.000000  32.000000  32.000000
              mean    0.187500   2.468769   1.872308   5.812500   5.906250
              std     0.396558   0.840772   1.258198   1.090649   0.817525
              min     0.000000   1.111000   1.167000   2.000000   3.000000
              25%     0.000000   2.100000   1.364000   6.000000   6.000000
              50%     0.000000   2.250000   1.571000   6.000000   6.000000
              75%     0.000000   2.875000   1.667000   6.000000   6.000000
              max     1.000000   4.500000   6.000000   7.000000   7.000000
2nd Round     count  16.000000   0.000000   0.000000  16.000000  16.000000
              mean    0.250000        NaN        NaN   6.250000   6.125000
              std     0.447214        NaN        NaN   0.577350   0.806226
              min     0.000000        NaN        NaN   5.000000   4.000000
              25%     0.000000        NaN        NaN   6.000000   6.000000
              50%     0.000000        NaN        NaN   6.000000   6.000000
              75%     0.250000        NaN        NaN   7.000000   7.000000
              max     1.000000        NaN        NaN   7.000000   7.000000
3rd Round     count   8.000000   0.000000   0.000000   8.000000   8.000000
              mean    0.250000        NaN        NaN   5.625000   5.500000
              std     0.462910        NaN        NaN   1.922610   1.414214
              min     0.000000        NaN        NaN   1.000000   2.000000
              25%     0.000000        NaN        NaN   6.000000   6.000000
              50%     0.000000        NaN        NaN   6.000000   6.000000
              75%     0.250000        NaN        NaN   6.250000   6.000000
              max     1.000000        NaN        NaN   7.000000   6.000000
Quarterfinals count   4.000000   0.000000   0.000000   4.000000   4.000000
              mean    1.000000        NaN        NaN   5.500000   5.500000
              std     0.000000        NaN        NaN   1.290994   1.732051
              min     1.000000        NaN        NaN   4.000000   3.000000
              25%     1.000000        NaN        NaN   4.750000   5.250000
              50%     1.000000        NaN        NaN   5.500000   6.000000
              75%     1.000000        NaN        NaN   6.250000   6.250000
              max     1.000000        NaN        NaN   7.000000   7.000000
Semifinals    count   2.000000   0.000000   0.000000   2.000000   2.000000
              mean    0.500000        NaN        NaN   6.000000   3.500000
              std     0.707107        NaN        NaN   0.000000   3.535534
              min     0.000000        NaN        NaN   6.000000   1.000000
              25%     0.250000        NaN        NaN   6.000000   2.250000
              50%     0.500000        NaN        NaN   6.000000   3.500000
              75%     0.750000        NaN        NaN   6.000000   4.750000
              max     1.000000        NaN        NaN   6.000000   6.000000
The Final     count   1.000000   0.000000   0.000000   1.000000   1.000000
              mean    0.000000        NaN        NaN   6.000000   6.000000
              std          NaN        NaN        NaN        NaN        NaN
              min     0.000000        NaN        NaN   6.000000   6.000000
              25%     0.000000        NaN        NaN   6.000000   6.000000
              50%     0.000000        NaN        NaN   6.000000   6.000000
              75%     0.000000        NaN        NaN   6.000000   6.000000
              max     0.000000        NaN        NaN   6.000000   6.000000

                           W3  W4  W5       WRank  Wsets
Round
1st Round     count  6.000000   0   0   32.000000     32
              mean   6.333333 NaN NaN   32.906250      2
              std    0.516398 NaN NaN   26.389587      0
              min    6.000000 NaN NaN    1.000000      2
              25%    6.000000 NaN NaN   15.000000      2
              50%    6.000000 NaN NaN   29.500000      2
              75%    6.750000 NaN NaN   42.500000      2
              max    7.000000 NaN NaN  120.000000      2
2nd Round     count  4.000000   0   0   16.000000     16
              mean   6.000000 NaN NaN   34.375000      2
              std    0.000000 NaN NaN   32.497949      0
              min    6.000000 NaN NaN    1.000000      2
              25%    6.000000 NaN NaN    7.750000      2
              50%    6.000000 NaN NaN   28.000000      2
              75%    6.000000 NaN NaN   40.250000      2
              max    6.000000 NaN NaN  120.000000      2
3rd Round     count  2.000000   0   0    8.000000      8
              mean   6.500000 NaN NaN   19.000000      2
              std    0.707107 NaN NaN   22.538855      0
              min    6.000000 NaN NaN    1.000000      2
              25%    6.250000 NaN NaN    5.750000      2
              50%    6.500000 NaN NaN    7.500000      2
              75%    6.750000 NaN NaN   25.500000      2
              max    7.000000 NaN NaN   67.000000      2
Quarterfinals count  4.000000   0   0    4.000000      4
              mean   6.000000 NaN NaN    5.250000      2
              std    0.000000 NaN NaN    3.095696      0
              min    6.000000 NaN NaN    1.000000      2
              25%    6.000000 NaN NaN    4.000000      2
              50%    6.000000 NaN NaN    6.000000      2
              75%    6.000000 NaN NaN    7.250000      2
              max    6.000000 NaN NaN    8.000000      2
Semifinals    count  1.000000   0   0    2.000000      2
              mean   7.000000 NaN NaN    4.000000      2
              std         NaN NaN NaN    4.242641      0
              min    7.000000 NaN NaN    1.000000      2
              25%    7.000000 NaN NaN    2.500000      2
              50%    7.000000 NaN NaN    4.000000      2
              75%    7.000000 NaN NaN    5.500000      2
              max    7.000000 NaN NaN    7.000000      2
The Final     count  0.000000   0   0    1.000000      1
              mean        NaN NaN NaN    1.000000      2
              std         NaN NaN NaN         NaN    NaN
              min         NaN NaN NaN    1.000000      2
              25%         NaN NaN NaN    1.000000      2
              50%         NaN NaN NaN    1.000000      2
              75%         NaN NaN NaN    1.000000      2
              max         NaN NaN NaN    1.000000      2

[48 rows x 24 columns]